<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>

    <header>
        <img src="../static/img/logo.jpg">
    </header>

    <div class="page-content">
    <main>
        {% block content %}{% endblock %}
    </main>
    </div>

    <footer>
        <p>2024 Все права защищены</p>
    </footer>




    <script>
    document.getElementById('prev').addEventListener('click', () => {
    document.querySelector('.carousel').scrollBy(-1000, 0);
});
    document.getElementById('next').addEventListener('click', () => {
    document.querySelector('.carousel').scrollBy(1000, 0);
});

    </script>
</body>
</html>
