{% extends "base.html" %}

{% block content %}
<h2>Добавление пользователя и образования</h2>

<form method="POST" class = "form-control" enctype="multipart/form-data" required>
<input type = "text" name = "name" placeholder="Введите ФИО" class = "form-control" required> <br>
<input type = "text" name = "age" placeholder="Введите возраст" class = "form-control" required> <br>
<input type = "text" name = "city" placeholder="Город" class = "form-control" required> <br>
<input type = "text" name = "phone" placeholder="Номер телефона" class = "form-control"required> <br>
<input type = "text" name = "tg" placeholder="Телеграм" class = "form-control"required> <br>
    <form action="/" enctype="multipart/form-data" method="post">
    <input type="file" name="pic" />
    <button type = "submit">Отправить</button>
    </form>
</form>
        {%endblock%}