<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Визитка</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <header>
        <img src="../static/img/logo.jpg">
    </header>
    <div class="page-content">
    <main>
        <section class="profile">
            <img src="../static/img/ava.jpg" alt="Фотография">
            <div class="info">
                <h2>Сидоренко Владимир Сергеевич</h2>
                <p>22 года</p>
                <p>Великий Новгород</p>
            </div>
        </section>
        <section class="education">
            <h2>Образование</h2>
            <div class="edublock">
            <p>РАНХиГС</p>
            <p>Год окончания: 2022</p>
            <a href="https://www.ranepa.ru/?utm_source=yandex.ru&utm_medium=organic&utm_campaign=yandex.ru&utm_referrer=yandex.ru">https://www.ranepa.ru/</a>
            </div>
            <div class="edublock">
                <p>НОВГУ</p>
                <p> Год окончания: 2025</p>
                <a href="https://www.novsu.ru/"> https://www.novsu.ru/ </a>
            </div>
        </section>
        <section class="projects">
            <h2>Проекты</h2>
            <div class="carousel">
                <div class="carousel-item">
                    <img src="../static/img/kjno.jpg">
                    <div class="carousel-content">
                    <p>Проект карта жителя Новгородской области</p>
                    <p>Компетенции:</p>
                    <p>-Agile</p>
                    <p>-Проектирование бизнес логики</p>
                    <p>-Публичные выступления</p>
                    <button href="http://cit.novreg.ru/KJNO">Подробнее</button>
                </div>
                    
                </div>
                <div class="carousel-item">Проект 2</div>
                <div class="carousel-item">Проект 3</div>
            </div>
            <button id="prev">←</button>
            <button id="next">→</button>
        </section>
    </main>
</div>
    <footer>
        <p>© 2024 Все права защищены</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>
