{% extends 'base.html' %}
{%block title%} Владимир Сергеевич {%endblock%}
{% block content %}

        <!-- секция с основной информацией о студенте  -->

        <section class="profile">
            <img src="../static/img/ava.jpeg" alt="Фотография">
            <div class="info">
                <h2>Сидоренко Владимир Сергеевич</h2>
                <p>22 года</p>
                <p>Великий Новгород</p>
            </div>
        </section>
        <!-- секция с образованием -->
        <section class="education">
            <h2>Образование</h2>
            <div class="edublock">
            <p>РАНХиГС</p>
            <p>Год окончания: 2022</p>
            <a href="https://www.ranepa.ru/?utm_source=yandex.ru&utm_medium=organic&utm_campaign=yandex.ru&utm_referrer=yandex.ru">https://www.ranepa.ru/</a>
            </div>
            <div class="edublock">
                <p>НОВГУ (Информатика и вычислительная техника)</p>
                <p> Год окончания: 2024</p>
                <a href="https://www.novsu.ru/"> https://www.novsu.ru/ </a>
            </div>
            <div class="edublock">
                <p>НЕТОЛОГИЯ</p>
                <p>ВЭБ разработчик Django</p>
                <p>Год окончания : 2023</p>
                <a href="https://netology.ru/">https://netology.ru/</a>
            </div>
            <div class="edublock">
                <p>Школа 21 (Сбер)</p>
                <p>Разрабоичик программного обеспечения</p>
                <a href="https://21-school.ru/">https://21-school.ru/</a>
            </div>
        </section>
        <section class="projects">
            <h2>Проекты</h2>
            <div class="carousel">
                <div class="carousel-item">
                    <img src="../static/img/ozon.png">
                    <div class="carousel-content">
                    <p>Ozon tech (Отдел Курьерской доставки)</p>
                    <p>Компетенции:</p>
                    <p>-Python3</p>
                    <p>-Kafka</p>
                    <p>-SQL</p>
                    <a href="https://ozon.tech/" target="_blank" class="button-link">Подробнее</a>
                </div>
                </div>
                <div class="carousel-item">
                    <img src="../static/img/kjno.jpg">
                    <div class="carousel-content">
                    <p>Проект Карта жителя Новгородской области</p>
                    <p>Компетенции:</p>
                    <p>-Agile</p>
                    <p>-Проектирование бизнес логики</p>
                    <p>-Публичные выступления</p>
                    <a href="http://cit.novreg.ru/KJNO" target="_blank" class="button-link">Подробнее</a>
                </div>
                </div>
            </div>
            <button id="prev">Назад</button>
            <button id="next">Вперед</button>
        </section>
        <section class="contact">

        </section>
        {%endblock%}
