{% extends 'base.html' %}
{% block title %} Добавить проект {% endblock %}
{% block content %}

<h2>Добавление проект</h2>

<form method="POST" class = "form-control" enctype="multipart/form-data" required>
<input type = "text" name = "name" placeholder="Название проекта" class = "form-control"required> <br>
<input type = "text" name = "description" placeholder="Описание проекта" class = "form-control"required> <br>
<input type = "text" name = "link" placeholder="Ссылка" class = "form-control"required> <br>
    <form action="/" enctype="multipart/form-data" method="post">
    <input type="file" name="pic" />
        <button type = "submit">Отправить</button>
    </form>
</form>

{% endblock %}
